.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.modal-close {
  position: absolute;
  top: -40px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 460px;
  display: flex;
  justify-content: center;
}
