.react-flow__node-default {
  .node-error {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: calc(-100% + 18px);
  }
}

.node-delete-button-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 35px;
  align-items: center;
  justify-content: center;

  .node-delete-button {
    display: flex;
    visibility: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
    color: #9a9797;
  }

  .node-delete-button:hover {
    color: red;
  }
}

.react-flow__node-default:hover .node-delete-button,
.react-flow__node-custom:hover .node-delete-button {
  visibility: visible;
}
